* { box-sizing: border-box; }

body {
    background-color:#e6f2ff;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.header__left,
.header__name {
    display: inline-block;
}

.header__right {
    display: flex;
    justify-content: center;
}

.header__name {
    margin-right: 10px;
}

img {
    height: 40px;
    border-radius: 50%;   
}

.dot {
    height: 13px;
    width: 13px;
    background-color: #5cd65c;
    display: inline-block;
    border-radius: 50%;
    border: solid 2px white;
    position: absolute;
    right: 14px;
}

.header__left {
    color: white;
    text-align: center;
    background-color:#1a75ff;
    width: 40px;
    height: 40px;
    border-radius: 50px 50px 50px 0px;
    padding: 10px 7px 7px 7px;
}

.background-wrapper {
    width: 90%;
    height: 700px;
    border-radius: 30px;
    margin: auto;
    background-color: #1a75ff;
    background-image: radial-gradient(ellipse at 70% 30%, #bddcff, #7bbcf8, #003e85 80%, #001735);
    padding-top: 150px;
}

.settings {
    background-color: white;
    height: 500px;
    max-width: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 13px #004d96;
}

.settings-color-background {
    background-color: #f2f8ff;
    height: 435px;
    max-width: 400px;
    border-radius: 15px;
    padding-top: 40px;
    margin: auto;
}

/* svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

.round {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
} */

h1 {
    margin: 0px 0px 0px 40px;
    color: #1a75ff;
    font-size: 16px;
}

.close-editor {
    font-size: 13px;
    color: grey;
    line-height: 60px;
    margin: 0px 0px 0px 40px;
}

.menu-item {
    align-items: center;
    text-align: right;
    padding-right: 50px;
}

.menu-item--active {
    color: #1a75ff;
    align-items: center;
    text-align: right;
    padding-right: 50px;
}

.fa-code-merge {
    border-radius: 50px;
    border: 2px solid white;
    background: #1a75ff;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    color: white;
    padding-top: 15px;
}
.icon{
    border-radius: 50px;
    border: 2px solid #1a75ff;
    background: white;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    color: #1a75ff;
    padding-top: 15px;
}